html{
    background-color:rgb(185, 181, 181) ;
    

}
#welcome-section{
   height: 100vh;
   margin: auto;
   font-size:30px;
   text-align: center;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  
 
}
#welcome-section h1{
    margin-top: 30px;
}
#welcome-section p{
    text-align: center;
    margin: auto;
    width: 50%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

#projects{
    height: 50vh;
    margin: auto;
    padding: 30px;
    text-align: center;
    font-size:20px;


}
footer{

    height: 30vh;
    display: inline-flex;
    text-align: center;
    margin-top: 100px;
    margin-left:40%;
}
.project-tile img{
    width: 250PX;
    display: inline;
    }
 .contactImg{
        height:40px;
        width: 80px;
        
    }



#navbar{
    background-color: rgba(53, 52, 52,0.9);
    width: 100%;
    position: fixed;
    margin: 0 ;
    top: 0;
    padding: 15px 0px;
    
    
}
#navbar a {
    color: white;
    padding: 5px;
   
}


.git{
    
    padding: 10px;
   
}

.fcc{
    
    
    padding: 10px;
    
}

